$primary-color: #DF0000;
$primary-hover: #A80000;
$primary-third: #821e1f;

$default-color: #000000;
$default-hover: #4C4C4C;

$light-grey: #F7F7F7;
$grey: #ccc;

$shade-color-1: #333333;
$shade-color-2: #4C4C4C;
$shade-color-3: #C1C1C1;

* {
  color: $default-color;
}
.btn {
  outline: 0 !important;
  box-shadow: 10px 10px 5px -9px $grey;
}
input {
  box-shadow: inset 3px 5px 5px -5px #ccc !important;
}
.red-bg {
  background-color: $primary-color;
}
.red-second-bg {
  background-color: $primary-hover;
}
.red-third-bg {
  background-color: $primary-third;
}
.white-bg {
  background-color: white !important;
}

.bt-grey {
  border-top: 1px solid $grey;
}
.br-grey {
  border-right: 1px solid $grey;
}
.bb-grey {
  border-bottom: 1px solid $grey;
}
.bl-grey {
  border-left: 1px solid $grey;
}

.border-radius-1 {
  border-radius: 25px;
}
.border-radius-2 {
  border-radius: 10px;
}

.mb5 {
  margin-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.selected-tr {
  td {
    background-color: $light-grey;
    font-weight: bold;
  }
}

.loading {
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
.radio {
  cursor: pointer;
}
.dropdown-menu {
  min-width: 100%;
}
.el-center {
  margin: 0 auto;
  float: none;
}
.has-error {
  .help-block {
    clear: both;
    padding: 0 15px;
    margin: 0;
    color: $primary-color;
  }
}