* {
  color: #000000; }

.btn {
  outline: 0 !important;
  box-shadow: 10px 10px 5px -9px #ccc; }

input {
  box-shadow: inset 3px 5px 5px -5px #ccc !important; }

.red-bg {
  background-color: #DF0000; }

.red-second-bg {
  background-color: #A80000; }

.red-third-bg {
  background-color: #821e1f; }

.white-bg {
  background-color: white !important; }

.bt-grey {
  border-top: 1px solid #ccc; }

.br-grey {
  border-right: 1px solid #ccc; }

.bb-grey {
  border-bottom: 1px solid #ccc; }

.bl-grey {
  border-left: 1px solid #ccc; }

.border-radius-1 {
  border-radius: 25px; }

.border-radius-2 {
  border-radius: 10px; }

.mb5 {
  margin-bottom: 5px; }

.mt5 {
  margin-top: 5px; }

.selected-tr td {
  background-color: #F7F7F7;
  font-weight: bold; }

.loading {
  width: 45px;
  height: 45px;
  margin: 0 auto; }

.radio {
  cursor: pointer; }

.dropdown-menu {
  min-width: 100%; }

.el-center {
  margin: 0 auto;
  float: none; }

.has-error .help-block {
  clear: both;
  padding: 0 15px;
  margin: 0;
  color: #DF0000; }
