<form name="blrForm" novalidate>
    <div class="row select-row radio-row" ng-class="{'has-error': blrForm.gender.$invalid && blrFormSubmited}">
        <div class="col-xs-4 col-sm-8 title in-col-1">
            <span>Gender</span>
        </div>
        <div class="col-xs-8 col-sm-4 in-col-2" style="padding: 0; margin-left: -15px;">
            <div class="col-xs-6">
                <label class="radio" ng-click="bs_data.Gender = 'M'" ng-class="{'checked': bs_data.Gender == 'M'}">
                    <input bs-radio type="radio" name="gender" ng-model="bs_data.Gender" value="M" required>
                    Male
                </label>
            </div>
            <div class="col-xs-6">
                <label class="radio" ng-click="bs_data.Gender = 'F'" ng-class="{'checked': bs_data.Gender == 'F'}">
                    <input bs-radio type="radio" name="gender" ng-model="bs_data.Gender" value="F" required>
                    Female
                </label>
            </div>
        </div>
        <p ng-show="blrForm.gender.$error.required && blrFormSubmited" class="help-block">* Please select gender.</p>
    </div>
    <div class="row select-row" ng-class="{'has-error': blrForm.age.$invalid && blrFormSubmited}">
        <div class="col-xs-6 title in-col-1">
            <span>Age (years)</span>
        </div>
        <div class="col-xs-6 in-col-2">
            <input type="text" class="form-control" placeholder="40-79" name="age" ng-model="bs_data.age" ng-pattern="/^\d+$/" required>
        </div>
        <p ng-show="blrForm.age.$error.required && blrFormSubmited" class="help-block">* Please select age.</p>
        <p ng-show="blrForm.age.$error.pattern && blrFormSubmited" class="help-block">* Enter a valid age number.</p>
    </div>
    <div class="row select-row dropdown-row" ng-class="{'has-error': blrForm.race.$invalid && blrFormSubmited}">
        <div class="col-xs-3 col-sm-7 title in-col-1">
            <span>Race</span>
        </div>
        <div class="col-xs-9 col-sm-5 text-right in-col-2">
            <div class="btn-group btn-group-dropdown">
                <input type="hidden" name="race" ng-model="bs_data.Race" ng-pattern="/[^-]/">
                <button bs-dropdown type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{races[bs_data.Race]}}</button>
                <ul class="dropdown-menu" role="menu">
                    <div class="arrow top"></div>
                    <li ng-repeat="(key, value) in races" ng-hide="key == '-'">
                        <a href="" ng-click="bs_data.Race = key">{{value}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <p ng-show="blrForm.race.$error.pattern && blrFormSubmited" class="help-block">* Please select race.</p>
    </div>
    <div class="row select-row" ng-class="{'has-error': blrForm.TotalCholestrol.$invalid && blrFormSubmited}">
        <div class="col-xs-6 title in-col-1">
            <span>Total Cholestrol</span>
        </div>
        <div class="col-xs-6 in-col-2">
            <input type="text" class="form-control" placeholder="130-320" name="TotalCholestrol" ng-model="bs_data.TotalCholestrol" ng-pattern="/^\d+$/" required>
        </div>
        <p ng-show="blrForm.TotalCholestrol.$error.required && blrFormSubmited" class="help-block">* Please specify total cholestrol.</p>
        <p ng-show="blrForm.TotalCholestrol.$error.pattern && blrFormSubmited" class="help-block">* Enter a valid number.</p>
    </div>
    <div class="row select-row" ng-class="{'has-error': blrForm.LDLCholestrol.$invalid && blrFormSubmited}">
        <div class="col-xs-6 title in-col-1">
            <span>LDL Cholestrol</span>
        </div>
        <div class="col-xs-6 in-col-2">
            <input type="text" class="form-control" placeholder="" name="LDLCholestrol" ng-model="bs_data.LDLCholestrol" ng-pattern="/^\d+$/">
        </div>
        <p ng-show="blrForm.LDLCholestrol.$error.pattern && blrFormSubmited" class="help-block">* Enter a valid number.</p>
    </div>
    <div class="row select-row" ng-class="{'has-error': blrForm.HDLCholestrol.$invalid && blrFormSubmited}">
        <div class="col-xs-6 title in-col-1">
            <span>HDL Cholestrol</span>
        </div>
        <div class="col-xs-6 in-col-2">
            <input type="text" class="form-control" placeholder="20-100" name="HDLCholestrol" ng-model="bs_data.HDLCholestrol" ng-pattern="/^\d+$/" required>
        </div>
        <p ng-show="blrForm.HDLCholestrol.$error.required && blrFormSubmited" class="help-block">* Please specify HDL cholestrol.</p>
        <p ng-show="blrForm.HDLCholestrol.$error.pattern && blrFormSubmited" class="help-block">* Enter a valid number.</p>
    </div>
    <div class="row select-row">
        <div class="col-xs-8 title in-col-1">
            <span>Treatment With Statin</span>
        </div>
        <div class="col-xs-4 in-col-2 text-right">
            <input bs-switch ng-model="bs_data.TreatmentwithStatin"
                   type="checkbox"
                   switch-active="true"
                   switch-on-text="Yes"
                   switch-off-text="No"
                   switch-animate="true"
                   switch-size="big"
                   switch-radio-off="true"
                   switch-label-width="auto"
                   switch-handle-width="auto"
                   ng-true-value="true"
                   ng-false-value="false"
                   switch-inverse="false">
        </div>
    </div>
    <div class="row select-row" ng-class="{'has-error': blrForm.SystolicBloodPressure.$invalid && blrFormSubmited}">
        <div class="col-xs-7 title in-col-1">
            <span>Systolic Blood Pressure</span>
        </div>
        <div class="col-xs-5 in-col-2">
            <input type="text" class="form-control" placeholder="90-200" name="SystolicBloodPressure" ng-model="bs_data.SystolicBloodPressure" ng-pattern="/^\d+$/" required>
        </div>
        <p ng-show="blrForm.SystolicBloodPressure.$error.required && blrFormSubmited" class="help-block">* Please specify blood pressure.</p>
        <p ng-show="blrForm.SystolicBloodPressure.$error.pattern && blrFormSubmited" class="help-block">* Enter a valid number.</p>
    </div>
    <div class="row select-row">
        <div class="col-xs-8 title in-col-1">
            <span>Treatment For Hypertension</span>
        </div>
        <div class="col-xs-4 in-col-2 text-right">
            <input bs-switch ng-model="bs_data.TreatmentforHypertension"
                   type="checkbox"
                   switch-active="true"
                   switch-on-text="Yes"
                   switch-off-text="No"
                   switch-animate="true"
                   switch-size="big"
                   switch-radio-off="true"
                   switch-label-width="auto"
                   switch-handle-width="auto"
                   ng-true-value="true"
                   ng-false-value="false"
                   switch-inverse="false">
        </div>
    </div>
    <div class="row select-row">
        <div class="col-xs-8 title in-col-1">
            <span>History Of Diabetes</span>
        </div>
        <div class="col-xs-4 in-col-2 text-right">
            <input bs-switch ng-model="bs_data.HistoryofDiabetes"
                   type="checkbox"
                   switch-active="true"
                   switch-on-text="Yes"
                   switch-off-text="No"
                   switch-animate="true"
                   switch-size="big"
                   switch-radio-off="true"
                   switch-label-width="auto"
                   switch-handle-width="auto"
                   ng-true-value="true"
                   ng-false-value="false"
                   switch-inverse="false">
        </div>
    </div>
    <div class="row select-row">
        <div class="col-xs-8 title in-col-1">
            <span>Current Smoker</span>
        </div>
        <div class="col-xs-4 in-col-2 text-right">
            <input bs-switch ng-model="bs_data.CurrentSmoker"
                   type="checkbox"
                   switch-active="true"
                   switch-on-text="Yes"
                   switch-off-text="No"
                   switch-animate="true"
                   switch-size="big"
                   switch-radio-off="true"
                   switch-label-width="auto"
                   switch-handle-width="auto"
                   ng-true-value="true"
                   ng-false-value="false"
                   switch-inverse="false">
        </div>
    </div>
    <div class="row select-row">
        <div class="col-xs-8 title in-col-1">
            <span>Aspirin Therapy</span>
        </div>
        <div class="col-xs-4 in-col-2 text-right">
            <input bs-switch ng-model="bs_data.AspirinTherapy"
                   type="checkbox"
                   switch-active="true"
                   switch-on-text="Yes"
                   switch-off-text="No"
                   switch-animate="true"
                   switch-size="big"
                   switch-radio-off="true"
                   switch-label-width="auto"
                   switch-handle-width="auto"
                   ng-true-value="true"
                   ng-false-value="false"
                   switch-inverse="false">
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-xs-12" ng-show="blrFormError">
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Something wen't wrong. Please contact support.
        </div>
    </div>
    <div class="col-xs-12" ng-show="blrFormWarning">
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{blrFormWarningMessage}}
        </div>
    </div>
    <div class="row text-center">
        <button class="btn btn-primary" style="text-transform: none;" ng-hide="blrFormLoading" ng-click="submitBaselineRisk(blrForm)">Calculate Baseline Risk</button>
        <img src="assets/img/loading.gif" class="loading" ng-show="blrFormLoading">
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
</form>
<div class="col-xs-12 results-div" ng-show="blrFormSuccess">
    <div class="row risk-top red-bg">
        <h1>{{baselineRisk}}%</h1>
        <p>Baseline 10 years ASVCD Risk</p>
    </div>
    <div class="row result-row">
        <div class="col-xs-10 div-title">
            <span class="big-title">Review Inputs</span>
        </div>
        <div class="col-xs-2 text-right"></div>
    </div>
    <div class="row result-row">
        <div class="col-xs-10 div-title">
            <span class="title">Therapy Choices</span>
        </div>
        <div class="col-xs-2 text-right">
            <span class="result-text">ER</span>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start statin (moderate intensity) or intensify statin from moderate to high intensity dose now</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startStatin | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_ae = false;" ng-click="s_ae = !s_ae;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_ae"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_ae"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_ae">
                There is moderate quality evidence that statins do not increase the overall risk of adverse
                events, but that they may increase the risk of diagnosis of type 2 diabetes in certain individuals.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start (or add) BP-lowering drug now</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startBPlowering | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_bp = false;" ng-click="s_bp = !s_bp;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_bp"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_bp"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_bp">
                Adverse effects of blood-pressure-lowering therapies are generally poorly reported, and vary by drug class
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Stop smoking for 2 years</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.stopSmoking | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sm = false;" ng-click="s_sm = !s_sm;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sm"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sm"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sm">
                Adverse effects of tobacco cessation therapies are generally poorly reported, and vary by drug.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start or continue aspirin now</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startAspirin | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sa = false;" ng-click="s_sa = !s_sa;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sa"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sa"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sa">
                There is high-quality evidence indicating that aspirin may increase the risk of major bleeding
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/continue aspirin + start/intensify statin now</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startAspirin_StartStatin | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sass = false;" ng-click="s_sass = !s_sass;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sass"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sass"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sass">
                See above for potential adverse events from aspirin and statin drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/continue aspirin + start/add BP-lowering drug now</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startAspirin_StartBPlowering | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sabp = false;" ng-click="s_sabp = !s_sabp;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sabp"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sabp"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sabp">
                See above for potential adverse events from aspirin and blood-pressure-lowering drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/continue statin + start/add BP-lowering drug now</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startStatin_StartBPlowering | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_stbp = false;" ng-click="s_stbp = !s_stbp;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_stbp"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_stbp"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_stbp">
                See above for potential adverse events from statin and blood-pressure-lowering drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/intensify statin + stop smoking for 2 years</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startStatin_StopSmoking | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_stss = false;" ng-click="s_stss = !s_stss;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_stss"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_stss"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_stss">
                See above for potential adverse events from statin and tobacco cessation drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/continue aspirin + stop smoking for 2 years</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startAspirin_StopSmoking | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_scss = false;" ng-click="s_scss = !s_scss;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_scss"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_scss"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_scss">
                See above for potential adverse events from aspirin and tobacco cessation drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/add BP-lowering drug + stop smoking for 2 years</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startBPlowering_StopSmoking | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sbpss = false;" ng-click="s_sbpss = !s_sbpss;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sbpss"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sbpss"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sbpss">
                See above for potential adverse events from blood-pressure-lowering and tobacco cessation drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/continue aspirin + start/intensify statin + start/add BP-lowering drug now</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startStatin_StartAspirin_StartBPlowering | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_scbpss = false;" ng-click="s_scbpss = !s_scbpss;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_scbpss"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_scbpss"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_scbpss">
                See above for potential adverse events from aspirin, statin and blood-pressure-lowering drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/continue aspirin + start/add BP-lowering drug + stop smoking for 2 years</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startAspirin_StartBPlowering_StopSmoking | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sabpss = false;" ng-click="s_sabpss = !s_sabpss;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sabpss"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sabpss"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sabpss">
                See above for potential adverse events from aspirin, blood-pressure-lowering and tobacco cessation drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/intensify statin + start/add BP-lowering drug + stop smoking for 2 years</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startStatin_StartBPlowering_StopSmoking | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sibpss = false;" ng-click="s_sibpss = !s_sibpss;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sibpss"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sibpss"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sibpss">
                See above for potential adverse events from statin, blood-pressure-lowering and tobacco cessation drugs.
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start/continue aspirin + start/intensify statin + stop smoking for 2 years</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startAspirin_StartStatin_StopSmoking | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sassss = false;" ng-click="s_sassss = !s_sassss;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sassss"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sassss"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sassss">
                See above for potential adverse events from aspirin, statin and tobacco cessation drugs
            </div>
        </div>
    </div>
    <div class="row result-row">
        <div class="row in-row">
            <div class="col-xs-10 div-title">
                <span class="title">Start all four</span>
            </div>
            <div class="col-xs-2 text-right">
                <span class="result-text">{{therapyChoice.startAll | resultPercentage}}</span>
            </div>
        </div>
        <div class="extend-row">
            <div class="row extend-in-row-title"
                 ng-init="s_sall = false;" ng-click="s_sall = !s_sall;">
                <div class="col-xs-10">
                    <span>Adverse Events</span>
                </div>
                <div class="col-xs-2 text-right">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="s_sall"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="s_sall"></i>
                </div>
            </div>
            <div class="row extend-in-row-content" ng-show="s_sall">
                See above for potential adverse events from aspirin, statin, blood-pressure-lowering and tobacco cessation drugs.
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
