<div ng-hide="blrFormSuccess">
    <div class="alert alert-warning" role="alert">
        <h6>
            <b>Incomplete</b> Please complete the baseline risk first,
            <a ui-sref="baseline-risk">click here</a>
        </h6>
    </div>
</div>
<div ng-show="blrFormSuccess">
    <form name="urForm" novalidate>
        <div class="row select-row radio-row">
            <div class="col-xs-4 col-sm-8 title in-col-1">
                <span>Gender</span>
            </div>
            <div class="col-xs-8 col-sm-4 in-col-2" style="padding: 0; margin-left: -15px;">
                <div class="col-xs-6">
                    <label class="radio" ng-class="{'checked': ur_data.Gender == 'M'}">
                        <input bs-radio type="radio" name="gender" ng-model="ur_data.Gender" value="M" required disabled>
                        Male
                    </label>
                </div>
                <div class="col-xs-6">
                    <label class="radio" ng-class="{'checked': ur_data.Gender == 'F'}">
                        <input bs-radio type="radio" name="gender" ng-model="ur_data.Gender" value="F" required disabled>
                        Female
                    </label>
                </div>
            </div>
        </div>
        <div class="row select-row" ng-class="{'has-error': urForm.age.$invalid && urFormSubmited}">
            <div class="col-xs-6 title in-col-1">
                <span>Age (years)</span> <br>
                <small>(must be greater than {{bs_data.age}})</small>
            </div>
            <div class="col-xs-6 in-col-2">
                <input type="text" class="form-control" placeholder="40-79" name="age" ng-model="ur_data.age" ng-pattern="/^\d+$/" required>
            </div>
            <p ng-show="urForm.age.$error.required && urFormSubmited" class="help-block">* Please select age.</p>
            <p ng-show="urForm.age.$error.pattern && urFormSubmited" class="help-block">* Enter a valid age number.</p>
        </div>
        <div class="row select-row dropdown-row" ng-class="{'has-error': urForm.race.$invalid && urFormSubmited}">
            <div class="col-xs-3 col-sm-7 title in-col-1">
                <span>Race</span>
            </div>
            <div class="col-xs-9 col-sm-5 text-right in-col-2">
                <div class="btn-group btn-group-dropdown">
                    <h6 style="margin: 0; padding: 0;">{{races[ur_data.Race]}}</h6>
                </div>
            </div>
            <p ng-show="urForm.race.$error.pattern && urFormSubmited" class="help-block">* Please select race.</p>
        </div>
        <div class="row select-row" ng-class="{'has-error': urForm.TotalCholestrol.$invalid && urFormSubmited}">
            <div class="col-xs-6 title in-col-1">
                <span>Total Cholestrol</span>
            </div>
            <div class="col-xs-6 in-col-2">
                <input type="text" class="form-control" placeholder="130-320" name="TotalCholestrol" ng-model="ur_data.TotalCholestrol" ng-pattern="/^\d+$/" required>
            </div>
            <p ng-show="urForm.TotalCholestrol.$error.required && urFormSubmited" class="help-block">* Please specify total cholestrol.</p>
            <p ng-show="urForm.TotalCholestrol.$error.pattern && urFormSubmited" class="help-block">* Enter a valid number.</p>
        </div>
        <div class="row select-row" ng-class="{'has-error': urForm.LDLCholestrol.$invalid && urFormSubmited}">
            <div class="col-xs-6 title in-col-1">
                <span>LDL Cholestrol</span>
            </div>
            <div class="col-xs-6 in-col-2">
                <input type="text" class="form-control" placeholder="" name="LDLCholestrol" ng-model="ur_data.LDLCholestrol" ng-pattern="/^\d+$/">
            </div>
            <p ng-show="urForm.LDLCholestrol.$error.pattern && urFormSubmited" class="help-block">* Enter a valid number.</p>
        </div>
        <div class="row select-row" ng-class="{'has-error': urForm.HDLCholestrol.$invalid && urFormSubmited}">
            <div class="col-xs-6 title in-col-1">
                <span>HDL Cholestrol</span>
            </div>
            <div class="col-xs-6 in-col-2">
                <input type="text" class="form-control" placeholder="20-100" name="HDLCholestrol" ng-model="ur_data.HDLCholestrol" ng-pattern="/^\d+$/" required>
            </div>
            <p ng-show="urForm.HDLCholestrol.$error.required && urFormSubmited" class="help-block">* Please specify HDL cholestrol.</p>
            <p ng-show="urForm.HDLCholestrol.$error.pattern && urFormSubmited" class="help-block">* Enter a valid number.</p>
        </div>
        <div class="row select-row">
            <div class="col-xs-8 title in-col-1">
                <span>Treatment With Statin</span>
            </div>
            <div class="col-xs-4 in-col-2 text-right">
                <input bs-switch ng-model="ur_data.TreatmentwithStatin"
                       type="checkbox"
                       switch-active="true"
                       switch-on-text="Yes"
                       switch-off-text="No"
                       switch-animate="true"
                       switch-size="big"
                       switch-radio-off="true"
                       switch-label-width="auto"
                       switch-handle-width="auto"
                       ng-true-value="true"
                       ng-false-value="false"
                       switch-inverse="false">
            </div>
        </div>
        <div class="row select-row" ng-class="{'has-error': urForm.SystolicBloodPressure.$invalid && urFormSubmited}">
            <div class="col-xs-7 title in-col-1">
                <span>Systolic Blood Pressure</span>
            </div>
            <div class="col-xs-5 in-col-2">
                <input type="text" class="form-control" placeholder="90-200" name="SystolicBloodPressure" ng-model="ur_data.SystolicBloodPressure" ng-pattern="/^\d+$/" required>
            </div>
            <p ng-show="urForm.SystolicBloodPressure.$error.required && urFormSubmited" class="help-block">* Please specify blood pressure.</p>
            <p ng-show="urForm.SystolicBloodPressure.$error.pattern && urFormSubmited" class="help-block">* Enter a valid number.</p>
        </div>
        <div class="row select-row">
            <div class="col-xs-8 title in-col-1">
                <span>Treatment For Hypertension</span>
            </div>
            <div class="col-xs-4 in-col-2 text-right">
                <input bs-switch ng-model="ur_data.TreatmentforHypertension"
                       type="checkbox"
                       switch-active="true"
                       switch-on-text="Yes"
                       switch-off-text="No"
                       switch-animate="true"
                       switch-size="big"
                       switch-radio-off="true"
                       switch-label-width="auto"
                       switch-handle-width="auto"
                       ng-true-value="true"
                       ng-false-value="false"
                       switch-inverse="false">
            </div>
        </div>
        <div class="row select-row">
            <div class="col-xs-8 title in-col-1">
                <span>History Of Diabetes</span>
            </div>
            <div class="col-xs-4 in-col-2 text-right">
                <input bs-switch ng-model="ur_data.HistoryofDiabetes"
                       type="checkbox"
                       switch-active="true"
                       switch-on-text="Yes"
                       switch-off-text="No"
                       switch-animate="true"
                       switch-size="big"
                       switch-radio-off="true"
                       switch-label-width="auto"
                       switch-handle-width="auto"
                       ng-true-value="true"
                       ng-false-value="false"
                       switch-inverse="false">
            </div>
        </div>
        <div class="row select-row">
            <div class="col-xs-8 title in-col-1">
                <span>Current Smoker</span>
            </div>
            <div class="col-xs-4 in-col-2 text-right">
                <input bs-switch ng-model="ur_data.CurrentSmoker"
                       type="checkbox"
                       switch-active="true"
                       switch-on-text="Yes"
                       switch-off-text="No"
                       switch-animate="true"
                       switch-size="big"
                       switch-radio-off="true"
                       switch-label-width="auto"
                       switch-handle-width="auto"
                       ng-true-value="true"
                       ng-false-value="false"
                       switch-inverse="false">
            </div>
        </div>
        <div class="row select-row" ng-class="{'has-error': urForm.MonthsOfSmoking.$invalid && urFormSubmited}">
            <div class="col-xs-7 title in-col-1">
                <span>Months Of Smoking</span>
            </div>
            <div class="col-xs-5 in-col-2">
                <input type="text" class="form-control" placeholder="Minimum value of 0" name="MonthsOfSmoking" ng-model="ur_data.MonthsOfSmoking" ng-pattern="/^\d+$/">
            </div>
            <p ng-show="urForm.MonthsOfSmoking.$error.pattern && urFormSubmited" class="help-block">* Enter a valid number.</p>
        </div>
        <div class="row select-row">
            <div class="col-xs-8 title in-col-1">
                <span>Aspirin Therapy</span>
            </div>
            <div class="col-xs-4 in-col-2 text-right">
                <input bs-switch ng-model="ur_data.AspirinTherapy"
                       type="checkbox"
                       switch-active="true"
                       switch-on-text="Yes"
                       switch-off-text="No"
                       switch-animate="true"
                       switch-size="big"
                       switch-radio-off="true"
                       switch-label-width="auto"
                       switch-handle-width="auto"
                       ng-true-value="true"
                       ng-false-value="false"
                       switch-inverse="false">
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="col-xs-12" ng-show="urFormError">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Something wen't wrong. Please contact support.
            </div>
        </div>
        <div class="col-xs-12" ng-show="urFormWarning">
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{urFormWarningMessage}}
            </div>
        </div>
        <div class="row text-center">
            <button class="btn btn-primary" style="text-transform: none;" ng-hide="urFormLoading" ng-click="submitUpdatedRisk(urForm)">Calculate Updated Risk</button>
            <img src="assets/img/loading.gif" class="loading" ng-show="urFormLoading">
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
    </form>
    <div class="col-xs-12 results-div" ng-show="urFormSuccess">
        <div class="row risk-top red-bg">
            <h1>{{urBaselineRisk}}%</h1>
            <p>Baseline 10 years ASVCD Risk</p>
        </div>
        <div class="row risk-top red-second-bg">
            <h1>{{followupRiskNothingDone}}%</h1>
            <p>Risk at Follow-Up if Nothing Had Been Done</p>
        </div>
        <div class="row risk-top red-third-bg">
            <h1>{{compositeASCVDRisk}}%</h1>
            <p>Composite updated ASCVD Risk</p>
        </div>
        <div class="row result-row">
            <div class="col-xs-10 div-title">
                <span class="big-title">Review Inputs</span>
            </div>
            <div class="col-xs-2 text-right"></div>
        </div>
        <div class="row result-row-title">
            <div class="col-xs-6 title">
                <span>Therapy Choices</span>
            </div>
            <div class="col-xs-6 sub-title">
                <span class="col-xs-4">EARR</span>
                <span class="col-xs-4">RR</span>
                <span class="col-xs-4">ARR</span>
            </div>
        </div>
        <div class="extend-row">
            <!--<div class="row extend-in-row-title"-->
                 <!--ng-hide="s_trr" ng-init="s_trr = false;" ng-click="s_trr = true;">-->
                <!--<div class="col-xs-10">-->
                    <!--<span>Therapy Relative Risks</span>-->
                <!--</div>-->
                <!--<div class="col-xs-2 text-right">-->
                    <!--<i class="glyphicon glyphicon-chevron-down"></i>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row extend-in-row-content white-bg">
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On statin</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onStatin.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On BP-lowering drug(s)</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onbPlowering.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onbPlowering.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onbPlowering.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>Stoped smoking</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onStopSmoking.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onStopSmoking.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onStopSmoking.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On aspirin</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onAspirin.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On aspirin + statin</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onAspirin_OnStatin.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnStatin.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnStatin.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On aspirin + BP-lowering drug(s) </span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onAspirin_OnBPlowering.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnBPlowering.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnBPlowering.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On statin + BP-lowering drug(s)</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onStatin_OnBPlowering.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_OnBPlowering.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_OnBPlowering.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On statin + stopped smoking</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onStatin_StopSmoking.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_StopSmoking.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_StopSmoking.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On aspirin + stopped smoking</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onAspirin_StopSmoking.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_StopSmoking.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_StopSmoking.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On BP-lowering drug(s) + stopped smoking</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onbPlowering_StopSmoking.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onbPlowering_StopSmoking.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onbPlowering_StopSmoking.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On aspirin + statin + BP-lowering drug(s)</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onStatin_OnAspirin_OnBPlowering.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_OnAspirin_OnBPlowering.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_OnAspirin_OnBPlowering.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On aspirin + BP-lowering drug(s) + stopped smoking</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onAspirin_OnBPlowering_StopSmoking.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnBPlowering_StopSmoking.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnBPlowering_StopSmoking.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On statin + BP-lowering drug(s) + stopped smoking</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onStatin_OnBPlowering_StopSmoking.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_OnBPlowering_StopSmoking.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onStatin_OnBPlowering_StopSmoking.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On aspirin + statin + stopped smoking</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onAspirin_OnStatin_StopSmoking.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnStatin_StopSmoking.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onAspirin_OnStatin_StopSmoking.actualRelativeRisk}}</span>
                    </div>
                </div>
                <div class="row sub-result-row">
                    <div class="col-xs-6 title">
                        <span>On all four</span>
                    </div>
                    <div class="col-xs-6 sub-title">
                        <span class="col-xs-4">{{followupResult.onAll.expectedAverage}}</span>
                        <span class="col-xs-4">{{followupResult.onAll.relativeRiskfollowup}}</span>
                        <span class="col-xs-4">{{followupResult.onAll.actualRelativeRisk}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row legend-row">
            EARR - Expected Average Relative Risk for therapy initiated (f1)<br>
            RR - Relative Risk based on follow up values per unit change<br>
            ARR - Actual Relative Risk based on delta (f2)
        </div>

        <div class="clearfix">&nbsp;</div>
    </div>
</div>